@{
    ViewData["Title"] = "Facturas";
}
<div id="page-content">
    <div id="facturacion-content">
        <!-- Facturación -->
        <h3 class="page-header">Facturación </h3>

        <!-- Mensaje de Factura Creada -->
        <div id="mensaje-factura" class="alert alert-success" style="display:none; margin-top: 10px;">
            Factura creada
        </div>

        <!-- Tabla de Facturas existentes -->
        <table class="table table-facturas">
            <thead>
                <tr>
                    <th>ID de Factura</th>
                    <th>ID del Cliente</th>
                    <th>Nombre del Negocio</th>
                    <th>Monto</th>
                    <th class="cell-small text-center"><i class="fa fa-bolt"></i> Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hidden-xs hidden-sm">1111111111111111111111111111111</</td>
                    <td class="hidden-xs hidden-sm">111111111</td>
                    <td class="hidden-xs hidden-sm">lorem ipsum</td>
                    <td class="hidden-xs hidden-sm">3,000.000</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- END Facturación -->
    </div>
</div>